/* roboto font for material-ui*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  background-image: url(../src/img/1.jpg);
  font-family: 'Roboto', sans-serif;
}